@import "../../../globalStyles/scss/variables.scss";

.upload {
  background-color: $black;

  &__column {
    float: left;
    width: 15%;
}

  &__header {
    margin-left: $spacer * 4;
    font-size: 3rem;
    font-family: "Montserrat";
    font-weight: 900;
    line-height: 100%;
    color: $green;
    text-align: center;
    padding-top: $spacer * 4.5;
    padding-bottom: $spacer * 4.5;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: $black;

    &__title {
      display: inline-block;
      transform: skew(-45deg);
      padding: 1.5vw 9vw;

      h1 {
        display: inline-block;
        transform: skew(45deg);
        font-weight: $bold-font-weight;
        text-transform: uppercase;
        color: $green;
        font-size: 8vw;
        font-weight: 900;
      }
    }
  }

  &__image {
        width: 50%;
        height: 20rem;
        margin-left: $spacer * 4;
        margin-right: $spacer * 4;
        display: inline-block;
        font-weight: $bold-font-weight;
        font-size: 1vw;
        text-align: center;

  }

  &__image_recommended {
        width: 50%;
        height: 20rem;
        margin-left: $spacer * 8;
        margin-right: $spacer * 8;

  }

  &__heading{
    color: $gray-light;
  }

  &__recheading{
    color: $gray-light;
    display: inline-block;
    font-weight: $bold-font-weight;
    font-size: 1.5vw;
    text-align: center;
    margin-left: $spacer * 8;
  }
}
